{% extends 'base.html' %}
{% block title %}
<title> {{ title }} </title>
{% endblock %}
{% block airports %}
active
{% endblock %}
{% block content %}
<div class="container">
    <ul class="list-group">
        {% for airport in airports %}
        <li class="list-group-item list-group-item-success">{{ airport }}</li>
        {% endfor %}
      </ul>



</div>
{% endblock %}