{% extends 'base.html' %}
{% block title %}
<title> {{ title }} </title>
{% endblock %}
{% block calc %}
active
{% endblock %}
{% block content %}
<div class="container">
        {% if eTime > 0 %}
        <div class="alert alert-success" role="alert">
            <strong>EMISSIONS API TIME (s):</strong>  {{ eTime }}
        </div>
        {% endif %}
        <div class="card">
            <div class="container">
                <br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group row">
            <div class="form-group mx-sm-4 mb-2" style="margin-top: 7px;">
                <strong>Journey Length (Miles): </strong>
            </div>
            <div class="form-group mx-sm-2 mb-2">
                {{ form.distance(class = 'form-control', placeholder="") }}
            </div>
            <button type="submit" value="submit" class="btn btn-success mb-3">Calculate</button>  
            </div>          
          </form>
        </div>
    </div>
    <br>
    {% if emissions > 0 %}
    <div class="card text-center">
            <div class="card text-white bg-danger">
              <div class="card-header">
                <h4>Flight Emissions</h4>
              </div>
              <div class="card-body">
                <h5 class="card-title"> Emissions = <strong>{{ emissions }}KG</strong> of Greenhouse Gasses</h5>
                <h5 class="card-title"> To absorb that amount of CO2 in one month you would need to plant <strong>{{ trees * 12 }}</strong> trees right now!</h5>
                <br>
                <h5 class="card-title"> <strong>Rethink Domestic Flights.</strong></h5>
                <h5 class="card-title"> Choose more eco-friendly modes of public transport such as trains or coaches.</h5>
            </div>
            </div>
            </div>
          </div>
          {% endif %}
{% endblock %}