{% extends 'base.html' %}
{% block title %}
<title> {{ title }} </title>
{% endblock %}
{% block flightsearch %}
active
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="container">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <strong>{{ message }}</strong><br>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
      {% endif %}
    {% endwith %}
<div class="container">
        <br>
        <div class="card">
            <div class="container">
                <br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group row">
            <div class="form-group mx-sm-2 mb-2">
                <label for="input1" class="sr-only">Departing</label>
                {{ form.departing(class = 'form-control', placeholder="Departing") }}
            </div>
            
                <div class="form-group mx-sm-2 mb-2">
                    <label for="input2" class="sr-only">Arriving</label>
                    {{ form.arriving(class = 'form-control', placeholder="Arriving") }}
                </div>
                <div class="form-group mx-sm-2 mb-2">
                    <label for="input3" class="sr-only">Date</label>
                    {{ form.outboundDate(class = 'form-control', placeholder="Leaving Date yyyy-mm-dd") }}
                </div>
                <div class="form-group mx-sm-2 mb-2">
                    <label for="input3" class="sr-only">Date</label>
                    {{ form.inboundDate(class = 'form-control', placeholder="Return Date yyyy-mm-dd") }}
                </div>
                
                <button type="submit" value="submit" class="btn btn-success mb-3">Search</button>
            </div>

                
            
          </form>
        </div>
    </div>
          </div>

{% endblock %}