{% extends 'base.html' %}
{% block title %}
<title> {{ title }} </title>
{% endblock %}
{% block flight %}
active
{% endblock %}
{% block content %}
    <div class="container">
      <br>
      <div class="card">
        <div class="container">
            <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group row">
        <div class="form-group mx-sm-2 mb-2">
            <label for="input1" class="sr-only">Departing</label>
            {{ form.departing(class = 'form-control') }}
        </div>
        
            <div class="form-group mx-sm-2 mb-2">
                <label for="input2" class="sr-only">Arriving</label>
                {{ form.arriving(class = 'form-control') }}
            </div>
            <div class="form-group mx-sm-2 mb-2">
                <label for="input3" class="sr-only">Date</label>
                {{ form.outboundDate(class = 'form-control', value=oDate) }}
            </div>
            <div class="form-group mx-sm-2 mb-2">
                <label for="input3" class="sr-only">Date</label>
                {{ form.inboundDate(class = 'form-control', value=iDate) }}
            </div>
            
            <button type="submit" value="submit" class="btn btn-success mb-3">Search</button>
        </div>

            
        
      </form>
    </div>
</div>

        <br>
        <div class="card-group">
          <div class="card {% if quoteFound == False %}text-white bg-danger{% endif %}">
            <div class="card-header">
              <h4>{% if quoteFound == False %}{{ departing }} -> {{ arriving }} NO MATCH {% endif %}{% if quoteFound == True %}{{ departing }} -> {{ arriving }}{% endif %}</h4>
            </div>
          <div class="card-body">
            <h5 class="card-title"> Date = {{ date }}</h5>
            <h5 class="card-title"> Time = {{ time }}</h5>
            <h5 class="card-title">{{ carrier }}</h5>
            <h5 class="card-text">Flight Cost = £{{ cheapestQuote["MinPrice"] }}</h5>
            {% if cheapestQuote["Direct"] == true %}
            <h5 class = "card-text">Direct</h5>
            {% endif %}
            {% if cheapestQuote["Direct"] == false %}
            <h5 class = "card-text">Not Direct</h5>
            {% endif %}
          </div>
          </div>
          <div class="card text-white bg-primary">
            <div class="card-header">
              <h4>Flight Info</h4>
            </div>
          <div class="card-body">
            <h5 class="card-title"> Distance = {{ distance }} Miles</h5>
            <h5 class="card-title"> Emissions = {{ emissions }}KG of Greenhouse Gasses</h5>
            <br>
            <h5 class="card-title"> Equivalent to {{ trainEmissions }} Miles on the train </h5>
            <h5 class="card-title"> Or {{ coachEmissions }} Miles on the coach! </h5>
          </div>
          </div>
        </div>
          <br>
              <div class="card text-center">
                <div class="card text-white bg-danger">
                  <div class="card-header">
                    <h4>Total Journey Emissions</h4>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"> Journey Distance = {{ distance }} Miles</h5>
                    <h5 class="card-title"> Emissions = {{ emissions }}KG of Greenhouse Gasses</h5>
                    <br>
                    <h5 class="card-title"> Equivalent to {{ trainEmissions }} Miles on the train</h5>
                    <h5 class="card-title"> Or {{ coachEmissions }} Miles on the coach! </h5>
                    <br>
                    <h5 class="card-title">  You would have to plant {{ trees }} trees to absorb this in one year</h5>
                  </div>
                </div>
                </div>
              </div>
    </div>
{% endblock %}