{% extends 'base.html' %}
{% block title %}
<title>{{ title }}</title>
{% endblock %}
{% block home %}
active
{% endblock %}
{% block content %}
<div class="container">


<div class="jumbotron">
        <h1 class="display-4">Welcome To Flight Emissions Checker</h1>
      
        <hr class="my-4">
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Search for flights</h5>
                  <p class="card-text">Find single or return flights with their prices and emissions data below.</p>
                  <a href="/flightsearch/" class="btn btn-success">Search</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Calculate flight Emissions</h5>
                  <p class="card-text">Already know the distance of your flight? Enter it here to find it's greenhouse gas emissions.</p>
                  <a href="/calc" class="btn btn-success">Calculate</a>
                </div>
              </div>
            </div>
          </div>
      </div>


      </div>

{% endblock %}
